.header {
	display: flex;
	align-items: start;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 50px 50px 26px 50px;

	&-title {
		font-weight: 700;
		font-size: 32px;
		line-height: 39.01px;

		a {
			text-decoration: none;
			color: red;
		}
	}

	&-user {
		line-height: 19.5px;
		color: var(--text-color-dark);
		text-decoration: none;
	}
}
